<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" href="/stylesheet/error.css">
</head>
<body>
    <div class="error-container">
        <h1>Error</h1>
        <p><%= error %></p>
        <a href="/">Return to Home</a>
    </div>
</body>
</html>